<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body class="index_body">
    <header class="nav_header">
        <nav class="nav-header">
            <a href="index.html" id="nav-name"><h1>Gridea Forum</h1></a>

            <div class="nav_list">
                
           <a href="../views/login.html" class="nav_link">Giriş Yap</a>
                           
           <a href="../views/dashboard.html" id="yaz" class="nav_link">Yaz</a>
                       
            </div>
        </nav>
    </header>




</body>
</html>