.index_body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(253, 252, 251);
}

/*=================== NAV ===================*/
.nav_header{
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(253, 252, 251);
  align-content: center;
}

#nav-name{
    color: rgba(0, 0, 0, 0.918);
    text-decoration: none;
}

.nav_list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -65px;
    margin-right:  60px;
}

.nav-header{
margin-left: 50px;
}

.nav_link{
    color: rgb(15, 15, 15);
    text-decoration: none;
    font-weight: lighter;
}

#yaz{
    background-color: rgba(135, 206, 250, 0.651);
    margin: 15px;
    padding: 15px;
    border-radius: 100px;
    text-align: center;
}

/*=================== LOGIN ve REGISTER===================*/
.login_body{
    background-color: rgba(182, 250, 233, 0.856);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#login{
    color: rgb(2, 99, 99);
}

a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(2, 99, 99);
}

.box{
    background-color: rgb(255, 248, 248);
    border-radius: 20px;
    text-align: center;
    align-content: center;
    height: 200px;
    width: max-content;
    padding: 20px 20px 20px 20px;
    margin-left: 535px;
}

.go{
    font-size: smaller;
}

#button{
    background-color: rgb(2, 99, 99);
    color: white;
    text-align: center;
    padding: 5px 70px 5px 70px;
    font-size: 15px;
}

 