body {
    font-family: Arial, sans-serif;
    background-color: rgb(253, 252, 251);
    overflow: hidden;
  }

  .container {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  form {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .left-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 700px;
  }

  .left-section input[type="text"] {
    font-size: 16px;
    padding: 10px;
  }

  #editor {
    height: 250px;
    background-color: rgb(253, 252, 251);
  }

  .right-section {
    flex: 0.5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: fit-content;
    margin-left: 20px;
  }

  .right-section h3 {
    margin-bottom: 10px;
  }

  .right-section label {
    display: block;
    margin-bottom: 8px;
  }

  .right-section input[type="radio"] {
    margin-right: 6px;
  }

  .right-section button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #a898d8;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .right-section button:hover {
    background-color: #a08ed8;;
  }